# ============================================================
# COPIE ce fichier en 02-secret.yaml (gitignore !) et remplis
# les valeurs avec tes vrais secrets.
# Puis apply : kubectl apply -f 02-secret.yaml
# ============================================================
apiVersion: v1
kind: Secret
metadata:
  name: rtgaming-secrets
  namespace: rtgaming
type: Opaque
stringData:
  # Snowflake
  SNOWFLAKE_USER: "BAKISSECK96"
  SNOWFLAKE_PASSWORD: "Khalifaseck1996@"

  # ADLS Gen2
  ADLS_ACCOUNT_NAME: "rtgamingdevlakea8rnne"
  ADLS_ACCOUNT_KEY: "zYZop8DTf/aMi+YyXZe1vuyoFDsmdrh2/L9qawjuUhAXkP4OpgaqLvdG3HlRO57wKVrVnAt2W+BL+AStz3ch3g=="

  # IGDB / Twitch
  TWITCH_CLIENT_ID: "7hh3i19ycz5v30w6a7z5b575arvibv"
  TWITCH_CLIENT_SECRET: "rah4d5apq8fwpt0fiu3sp0w5gst93h"
  # Neo4j
  NEO4J_PASSWORD: "rtgaming2026"